body {
    background:#585851;
    color: white;
	font-size:20px;
	
}

.main-content {
    width: 1000px;
    margin: 0 auto;
	
}

.u {
    text-decoration: underline;
}

.mets {
    background: orange;
	color:#3b1606;
	padding:50px;
	font-size:20px;
	margin:10px;
}


.dodgers {
    background: blue;
	font-size:20px;
	padding:20px;
	margin:10px;
}


.cubs {
    
}

.pittsburgh {
    background: yellow;
	color:#4a24e0;
	font-size:20px;
	padding:20px;
	margin:10px;
}

.cardinals {
    background:#8f1d00;
	font-size:20px;
	padding:20px;
	margin:10px;
}

.table-container {
    background: black;
	font-size:20px;
	padding:20px;
	margin:10px;
	text-align:center;
	padding:0 250px 
}
